.tarcking-main{
    background: #ededed;
    height: 100vh;
    overflow-y: auto;
}
.name-header{
    display: flex;
    min-height: 80px;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: xx-large;
}

.info-main{
    display: flex;
    justify-content: center;
}
.info-container{
    display: grid;
    grid-template-areas:
    'aa aa'
    'bb cc'
    'bb dd'
    'bb dd'
    'bb xx';
    background: #ededed;
    grid-gap: 20px;
    margin-top: 20px;
    width: 80%;
}

.buyer-confirm-msg-container{
    grid-area: aa;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-height: 40px;
}

.map-container{
    grid-area: bb;
    background: white;
    min-height: 550px;
    border-radius: 5px;
    padding: 5px;
}

.status-header{
    display: grid;
    grid-template-areas: 
    'status status copy copy'
    'val val val val';
    border-bottom: grey;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}

.status-text{
    grid-area: status;
    font-size: 16px;
}

.copy-icon{
    grid-area: copy;
    text-align: right;
}

.status-val{
    grid-area: val;
    font-size: 25px;
    color: orange;

}

.order-details-container{
    grid-area: cc;
    background: white;
    min-height: 200px;
}

.ratings-container{
    grid-area: dd;
    background: white;
    min-height: 300px;
}


