{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 90,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
